<div class="container">
  <div class="p-col-12">
    <h1>{{ editanto ? 'Edição de' : 'Novo'}} Lançamento</h1>
  </div>
  <form #f="ngForm" (ngSubmit)="salvar(f)">
    <div class="ui-fluid">
      <div class="p-fluid p-grid">
        <div class="p-col-2">
          <p-selectButton
            name="tipo"
            [options]="tipos"
            [(ngModel)]="lancamento.tipo"
            #tipo
          ></p-selectButton>
        </div>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6 p-md-3">
        <label for="vencimento">Vencimento</label>
        <p-calendar
          [(ngModel)]="lancamento.dataVencimento"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          showIcon="true"
          name="vencimento"
          ngModel
          #descricao="ngModel"
          required
        ></p-calendar>
        <app-message
          [control]="descricao"
          error="required"
          text="Informe uma data de vencimento"
        ></app-message>
      </div>
      <div class="p-field p-col-6 p-md-3">
        <label for="recebimento">{{
          tipo.value === "RECEITA" ? "Recebimento" : "Pagamento"
        }}</label>
        <p-calendar
          name="pagamento"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          showIcon="true"
          [(ngModel)]="lancamento.dataPagamento"
        ></p-calendar>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-9">
        <label for="fieldId">Descrição</label>
        <input
          name="descricao"
          [(ngModel)]="lancamento.descricao"
          type="text"
          pInputText
          #descricao="ngModel"
          required
          minlength="5"
        />
        <app-message
          [control]="descricao"
          error="required"
          text="Informe uma descrição"
        ></app-message>
        <app-message
          [control]="descricao"
          error="minlength"
          text="Mínimo de {{
            descricao.errors?.minlength?.requiredLength
          }} caracteres"
        ></app-message>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="fieldId">Valor</label>
        <p-inputNumber
          name="valor"
          [(ngModel)]="lancamento.valor"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="fieldId">Categoria</label>
        <p-dropdown
          name="categorias"
          [(ngModel)]="lancamento.categoria.codigo"
          [options]="categorias"
          #categoria
          placeholder="Selecione"
          required
        ></p-dropdown>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="fieldId">Pessoa</label>
        <p-dropdown
          name="pessoa"
          [(ngModel)]="lancamento.pessoa.codigo"
          [options]="pessoas"
          placeholder="Selecione"
          #pessoa
          [filter]="true"
          required
        ></p-dropdown>
      </div>

      <div class="p-field p-col-12">
        <label for="fieldId">Observação</label>
        <textarea
          name="observacao"
          rows="3"
          type="text"
          [(ngModel)]="lancamento.observacao"
          pInputTextarea
        ></textarea>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-col-2">
        <button pButton type="submit" label="Salvar"></button>
      </div>
      <div class="p-col-2">
        <button
          pButton
          type="submit"
          label="Novo"
          class="p-button-info"
        ></button>
      </div>
      <div class="p-col">
        <a [routerLink]="['/lancamentos']" routerLinkActive="router-link-active" >Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
