<div class="container">
  <div class="p-col-12">
    <h1>Novo Lançamento</h1>
  </div>
  <form>
    <div class="ui-fluid">
      <div class="p-fluid p-grid">
        <div class="p-col-2">
          <p-selectButton [options]="tipos" #tipo></p-selectButton>
        </div>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6 p-md-3">
        <label for="vencimento">Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          showIcon="true"
          name="vencimento"
          ngModel
          #descricao="ngModel"
          required
        ></p-calendar>
        <app-message
          [control]="descricao"
          error="required"
          text="Informe uma data de vencimento"
        ></app-message>
      </div>
      <div class="p-field p-col-6 p-md-3">
        <label for="recebimento">{{
          tipo.value === "RECEITA" ? "Recebimento" : "Pagamento"
        }}</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          showIcon="true"
        ></p-calendar>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-9">
        <label for="fieldId">Descrição</label>
        <input
          type="text"
          pInputText
          name="descricao"
          ngModel
          #descricao="ngModel"
          required
          minlength="5"
        />
        <app-message
          [control]="descricao"
          error="required"
          text="Informe uma descrição"
        ></app-message>
        <app-message
          [control]="descricao"
          error="minlength"
          text="Mínimo de {{
            descricao.errors?.minlength?.requiredLength
          }} caracteres"
        ></app-message>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="fieldId">Valor</label>
        <p-inputNumber
          name="valor"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="fieldId">Categoria</label>
        <p-dropdown
          [options]="categorias"
          #categoria
          placeholder="Selecione"
          required
        ></p-dropdown>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="fieldId">Pessoa</label>
        <p-dropdown
          [options]="pessoas"
          placeholder="Selecione"
          #pessoa
          [filter]="true"
          required
        ></p-dropdown>
      </div>

      <div class="p-field p-col-12">
        <label for="fieldId">Observação</label>
        <textarea rows="3" type="text" pInputTextarea></textarea>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-col-2">
        <button pButton type="submit" label="Salvar"></button>
      </div>
      <div class="p-col-2">
        <button
          pButton
          type="submit"
          label="Novo"
          class="p-button-info"
        ></button>
      </div>
      <div class="p-col">
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
