<div class="container">
  <form action="">
    <div class="ui-fluid">
      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>
      <div class="p-fluid p-grid">
        <div class="p-col-2">

          <p-selectButton [options]="tipos" #tipo></p-selectButton>
        </div>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6 p-md-3">
        <label for="vencimento">Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          showIcon="true"
          formControlName="date"
        ></p-calendar>
      </div>
      <div class="p-field p-col-6 p-md-3">
        <label for="recebimento">{{
          tipo.value === "RECEITA" ? "Recebimento" : "Pagamento"
        }}</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          showIcon="true"
          formControlName="date"
        ></p-calendar>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-9">
        <label for="fieldId">Descrição</label>
        <input type="text" pInputText />
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="fieldId">Valor</label>
        <input type="text" pInputText placeholder="0,00" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="fieldId">Categoria</label>
        <p-dropdown [options]="categorias" #categoria placeholder="Selecione"></p-dropdown>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="fieldId">Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" #pessoa [filter]="true"></p-dropdown>
      </div>

      <div class="p-field p-col-12">
        <label for="fieldId">Observação</label>
        <textarea rows="3" type="text" pInputTextarea></textarea>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-col-2">
        <button pButton type="submit" label="Salvar"></button>
      </div>
      <div class="p-col-2">
        <button
          pButton
          type="submit"
          label="Novo"
          class="p-button-info"
        ></button>
      </div>
      <div class="p-col">
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
